<!DOCTYPE html>
<html>
  <head>
    <title>Navigasmic: Regression Test</title>
    <style>
      .foo {
        color: #0f0;
      }
      .foo a {
        color: #0f0;
      }
      li.disabled {
        color: #999;
      }
      .active {
        color: #f00;
      }
      .active a {
        color: #f00;
      }
    </style>
  </head>
  <body>

    <%= semantic_navigation :primary do |n| %>
      <% n.item 'Home', root_path %>
      <% n.item 'Site Map', root_path(format: 'xml') %>
      <% n.group 'Blog', class: 'blog' do %>
        <li>Custom Node</li>
        <% n.item 'Articles', controller: '/blog/posts' %>
        <% n.item 'Links', controller: '/blog/links' %>
        <% n.item 'Specific Article', link: {controller: '/blog/posts', action: 'show', id: '2'} %>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render partial: 'layouts/navigation' %>

  </body>
</html>
