<!DOCTYPE html>
<html>
  <head>
    <title>Navigasmic: Regression Test</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css"/>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <style>
      .foo {
        color: #0f0;
      }
      .foo a {
        color: #0f0;
      }
      li.disabled {
        color: #999;
      }
      .active {
        color: #f00;
      }
      .active a {
        color: #f00;
      }
    </style>
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Title</a>
        <%= semantic_navigation :testing, config: :bootstrap %>
      </div>
    </div>

    <%= yield %>

    <%= render partial: 'layouts/navigation' %>

  </body>
</html>
